:root {
  --dark-theme-color-1: #1c1c1c;
  --dark-theme-color-2: #272727;
  --dark-theme-color-4: #303030;
  --dark-theme-color-3: #454545;
  --dark-theme-color-5: #ffffff;

  --light-theme-color-1: #ffffff;
  --light-theme-color-2: #f7f7f7;
  --light-theme-color-3: #ebebeb;
  --light-theme-color-4: #d9d9d9;
  --light-theme-color-5: #000000;

  --font-color: var(--dark-theme-color-5);
  --app-background-color: var(--dark-theme-color-1);
  --app-header-background-color: var(--dark-theme-color-2);
  --app-header-border-color: var(--dark-theme-color-4);
  --input-background-color: var(--dark-theme-color-3);
  --input-border-color: var(--dark-theme-color-4);
  --lane-background-color: var(--dark-theme-color-2);
  --tag-background-color: var(--dark-theme-color-3);
  --tag-border-color: var(--dark-theme-color-4);
  --card-background-color: var(--dark-theme-color-4);
  --card-border-color: var(--dark-theme-color-4);
  --modal-background-color: var(--dark-theme-color-2);
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: var(--light-theme-color-5);
    --app-background-color: var(--light-theme-color-1);
    --app-header-background-color: var(--light-theme-color-2);
    --app-header-border-color: var(--light-theme-color-4);
    --input-background-color: var(--light-theme-color-3);
    --input-border-color: var(--light-theme-color-4);
    --lane-background-color: var(--light-theme-color-3);
    --tag-background-color: var(--light-theme-color-3);
    --tag-border-color: var(--light-theme-color-4);
    --card-background-color: var(--light-theme-color-2);
    --card-border-color: var(--light-theme-color-4);
    --modal-background-color: var(--light-theme-color-2);
  }
}
