:root {
  --dark-theme-color-1: #1c1c1c;
  --dark-theme-color-2: #272727;
  --dark-theme-color-4: #303030;
  --dark-theme-color-3: #454545;
  --dark-theme-color-5: #ffffff;

  --light-theme-color-1: #ffffff;
  --light-theme-color-2: #f7f7f7;
  --light-theme-color-3: #ebebeb;
  --light-theme-color-4: #d9d9d9;
  --light-theme-color-5: #000000;

  --light-theme-accent-color: #62A0EA;
  --dark-theme-accent-color: #1A5FB4;
  --dark-theme-danger-color: #ed333b;
  --light-theme-danger-color: #ed333b;

  --font-color: var(--dark-theme-color-5);
  --app-background-color: var(--dark-theme-color-1);
  --app-header-background-color: var(--dark-theme-color-2);
  --app-header-border-color: var(--dark-theme-color-4);
  --input-background-color: var(--dark-theme-color-3);
  --input-border-color: var(--dark-theme-color-4);
  --button-background-color: var(--dark-theme-color-3);
  --button-border-color: var(--dark-theme-color-4);
  --button-font-color: var(--dark-theme-color-5);
  --lane-background-color: var(--dark-theme-color-2);
  --tag-background-color: var(--dark-theme-accent-color);
  --tag-border-color: var(--dark-theme-accent-color);
  --tag-font-color: var(--dark-theme-color-5);
  --card-background-color: var(--dark-theme-color-4);
  --card-border-color: var(--dark-theme-color-4);
  --modal-background-color: var(--dark-theme-color-2);
  --popup-background-color: var(--dark-theme-color-2);
  --popup-font-color: var(--dark-theme-color-5);
  --popup-border-color: var(--dark-theme-color-4);
  --danger-color: var(--dark-theme-danger-color);
  --link-color: var(--dark-theme-accent-color);
  --editor-background-color: var(--dark-theme-color-1);
  --editor-code-background-color: var(--dark-theme-color-2);
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: var(--light-theme-color-5);
    --app-background-color: var(--light-theme-color-1);
    --app-header-background-color: var(--light-theme-color-2);
    --app-header-border-color: var(--light-theme-color-4);
    --input-background-color: var(--light-theme-color-3);
    --input-border-color: var(--light-theme-color-4);
    --button-background-color: var(--light-theme-color-3);
    --button-border-color: var(--light-theme-color-4);
    --button-font-color: var(--light-theme-color-5);
    --lane-background-color: var(--light-theme-color-3);
    --tag-background-color: var(--light-theme-accent-color);
    --tag-border-color: var(--light-theme-accent-color);
    --tag-font-color: var(--light-theme-color-1);
    --card-background-color: var(--light-theme-color-2);
    --card-border-color: var(--light-theme-color-4);
    --modal-background-color: var(--light-theme-color-2);
    --popup-background-color: var(--light-theme-color-2);
    --popup-font-color: var(--light-theme-color-5);
    --popup-border-color: var(--light-theme-color-4);
    --danger-color: var(--light-theme-danger-color);
    --link-color: var(--light-theme-accent-color);
    --editor-background-color: var(--light-theme-color-1);
    --editor-code-background-color: var(--light-theme-color-2);
  }
}
