:root {
  --color-accent: #1A5FB4;
  --color-foreground: #ffffff;
  --color-background-1: #1c1c1c;
  --color-background-2: #272727;
  --color-background-3: #303030;
  --color-background-4: #454545;
  --color-alt-1: #a51d2d;
  --color-alt-2: #c64600;
  --color-alt-3: #e5a50a;
  --color-alt-4: #63452c;
  --color-alt-5: #26a269;
  --color-alt-6: #613583;
  --color-alt-7: #1A5FB4;
}

@media (prefers-color-scheme: light) {
  :root {
  --color-accent: #62a0ea;
  --color-foreground: #000000;
  --color-background-1: #ffffff;
  --color-background-2: #f7f7f7;
  --color-background-3: #ebebeb;
  --color-background-4: #d9d9d9;
  --color-alt-1: #ed333b;
  --color-alt-2: #ffa348;
  --color-alt-3: #f5c211;
  --color-alt-4: #b5835a;
  --color-alt-5: #57e389;
  --color-alt-6: #c061cb;
  --color-alt-7: #62a0ea;
  }
}
