@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./color-themes/adwaita.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  margin-top: 0;
  margin-bottom: 12px;
}

h4 {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.0rem;
  margin: 0 !important;
}

h3 {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.1rem;
  text-align: left;
  margin: 0 !important;
}

h5 {
  margin: 0;
}

strong {
  margin: 0;
}

main {
  background: var(--app-background-color);
  height: calc(100vh - 57px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 40px;
  overflow-x: auto;
}

input,
button,
select
{
  height: 32px;
  padding: 4px 15px;
  background: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  font-size: 0.9rem;
  box-shadow: 0 2px 0 rgba(0,0,0,.02);
  box-sizing: border-box;
  color: var(--font-color);
  white-space: nowrap;
}

button,
select
{
  cursor: pointer;
}

button {
  transition: all 0.1s;
}

button:hover {
  opacity: 0.75;
  transition: all 0.1s;
}

button.small {
  padding: 0;
  width: 25px;
  height: 25px;
  font-size: 1rem;
}

.app-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  background: var(--app-header-background-color);
  border-bottom: 1px solid var(--app-header-border-color);
  box-sizing: border-box;
  max-height: 57px;
}

.search-input {
  display: flex;
  flex-direction: column;
}

.app-header__group-item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}

.app-header__group-item-label {
  white-space: nowrap;
}

.lane {
  display: flex;
  flex-direction: column;
}

.dragged-over {
  opacity: 0.5;
}

.lane__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  margin-bottom: 12px;
}

.lane__header-name-and-count {
  display: flex;
  align-items: center;
  gap: 6px;
}

.lane__header-buttons {
  display: flex;
  gap: 5px;
}

.lane__content {
  flex-grow: 1;
  width: 300px;
  background: var(--lane-background-color);
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  overflow-y: auto;
}

.card {
  min-height: 100px;
  width: 100%;
  background: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: grab;
  font-size: 0.9rem;
  box-shadow: 0 2px 0 rgba(0,0,0,.02);
  border-radius: 6px;
  box-sizing: border-box;
}

.card:active {
  opacity: 0.5;
}

.card__toolbar {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  min-height: 38px;
  display: flex;
  align-items: start;
}

.card__toolbar > :first-child {
  display: inline-block;
  flex-grow: 1;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  max-height: 819px;
  background: var(--modal-background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  text-align: left;
}

.modal__toolbar {
  width: 100%;
}

.modal__toolbar > :first-child {
  display: inline-block;
  width: calc(100% - 50px);
  margin-top: 0;
}

.modal__toolbar > :nth-child(2) {
  vertical-align: top;
  margin-left: auto;
}

.modal__content {
  position: relative;
  overflow: auto;
  height: 90%;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: calc(90% - 51px) !important;
}

.CodeMirror {
  background: transparent !important;
  color: var(--font-color) !important;
}

.editor-toolbar a::before {
  color: var(--font-color) !important;
}

.popup {
  position: absolute;
}

.popup > button {
  width: 100%;
}

.tags {
  display: flex;
  gap: 8px;
  padding: 12px;
}

.tag {
  padding: 4px;
  border-radius: 5px;
  background:	var(--tag-background-color);
  border: 1px solid var(--tag-border-color);
}

.modal__tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
