@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h4 {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.0rem;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin: 0 !important;
  text-align: left;
  font-weight: normal;
}

main {
  background: #fefffe;
  /* TODO store toolbar height in variable */
  height: calc(100vh - 44px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 40px;
}

input,
button,
select
{
  height: 32px;
  padding: 4px 15px;
  background: #fff;
  border-radius: 6px;
  font-size: 0.9rem;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0,0,0,.02);
  box-sizing: border-box;
}

button,
select
{
  cursor: pointer;
}

button {
  transition: all 0.1s;
}

button:hover {
  opacity: 0.75;
  transition: all 0.1s;
}

button.small {
  padding: 0;
  width: 25px;
  height: 25px;
  font-size: 1rem;
}

button.primary {
  background: #1c71d8;
  color: white;
  border: none;
}

.app-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
}

.search-input {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .main {
    background: slategrey;
  }
}

.lane {
  display: flex;
  flex-direction: column;
}

.dragged-over {
  opacity: 0.5;
}

.lane__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.lane__header-name-and-count {
  display: flex;
  align-items: center;
  gap: 6px;
}

.lane__header-buttons {
  display: flex;
  gap: 5px;
}

.lane__content {
  flex-grow: 1;
  width: 300px;
  background:  	#ebebeb;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
}

.card {
  min-height: 100px;
  width: 100%;
  background: #fff;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: grab;
  font-size: 0.9rem;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0,0,0,.02);
  border-radius: 6px;
  box-sizing: border-box;
}

.card:active {
  opacity: 0.5;
}

.card__toolbar {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  min-height: 38px;
  display: flex;
  align-items: start;
}

.card__toolbar > :first-child {
  display: inline-block;
  flex-grow: 1;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  max-height: 819px;
  background: #fefffe;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  text-align: left;
}

.modal__toolbar {
  width: 100%;
}

.modal__toolbar > :first-child {
  display: inline-block;
  width: calc(100% - 50px);
  margin-top: 0;
}

.modal__toolbar > :nth-child(2) {
  /* width: 50px;
  height: 50px; */
  vertical-align: top;
  margin-left: auto;
}

.modal__content {
  position: relative;
  overflow: auto;
  height: 90%;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: calc(90% - 51px) !important;
}

.popup {
  position: absolute;
}

.popup > button {
  width: 100%;
}

.tags {
  display: flex;
  gap: 8px;
  padding: 12px;
}

.tag {
  padding: 4px;
  border-radius: 5px;
  background:	#ebebeb;
  border: 1px solid #d9d9d9;
}

.modal__tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
