@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h4 {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.0rem;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin: 0 !important;
  text-align: left;
  font-weight: normal;
}

main {
  background: #fefffe;
  height: 100vh;
  padding: 20px 20px 0;
  box-sizing: border-box;
  display: flex;
  gap: 40px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .main {
    background: slategrey;
  }
}

.lane {
  display: flex;
  flex-direction: column;
}

.lane__content {
  flex-grow: 1;
  width: 300px;
  background: #B4B8C5;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.card {
  min-height: 100px;
  width: 100%;
  background: #E9EBF8;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: grab;
}

.card:active {
  opacity: 0.5;
}

.card__toolbar {
  width: 100%;
}

.card__toolbar > :first-child {
  display: inline-block;
  width: 90%;
}

.card__toolbar > :nth-child(2) {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  margin-left: auto;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  max-height: 819px;
  background: #fefffe;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  text-align: left;
}

.modal__toolbar {
  width: 100%;
}

.modal__toolbar > :first-child {
  display: inline-block;
  width: calc(100% - 50px);
  margin-top: 0;
}

.modal__toolbar > :nth-child(2) {
  width: 50px;
  height: 50px;
  vertical-align: top;
  margin-left: auto;
}

.modal__content {
  position: relative;
  overflow: auto;
  height: 90%;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: calc(90% - 51px) !important;
}

.popup {
  position: absolute;
}

.popup > button {
  width: 100%;
}

.tags {
  display: flex;
  gap: 8px;
}

.tag {
  background: #B4B8C5;
  padding: 4px;
  border-radius: 5px;
}

.modal__tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
